<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css.css">
    <script defer src="/scripts/modules/myProducts.js"></script>
    <link rel="icon" type="imagem/png" href="../images/favicon-32x32.png" />

    <title>Meus produtos</title>
</head>
<body>
    <!--Pesquisa-->
	<div class="pesquisa">
		<img src="./images/icon.png" class="icon"> 
        <p class="p p1">Central dos Mercados</p>			
	</div>
        <!--Nav Bar-->      
    <ul class="nav">
        <li><a href="/">PÁGINA INICIAL</a></li>
        <li><a href="/addProducts">ADICIONAR PRODUTOS</a></li>
        <li><a href="/myproducts:1">PRODUTOS</a></li>
    </ul>

    <div id="error" style="display: none;"></div>

    <div class="container" id="products">
        <div class="div1">
            
        </div>


        <div class="div2">
            <div class="adicionar">
                <p class="p">Meus produtos</p> <input type="button" class="button" id="buttonPlus" value="+">
            </div>

            <div class="produtos" id="products">
                <!-- <div class="item"></div> -->  
            </div>
        </div>
    </div>
</body>
</html>