<!--Pesquisa-->
<head>
	<link rel="stylesheet" type="text/css" href="/styles/produtoscss.css">

	<title>Detalhes do produto</title>
</head>
	
		
<div class="container">
	<!--Nome/identificação do produto-->
	<p class="name_item"></p>
	<div class="box">
		<div class="produto_container">
			<div class="produto">
				<!--Imagem do produto-->
				<img class="item_grande">
			</div>

			<div class="descrição">
					<p class="titleDescription">
						DESCRIÇÃO
					</p>

					<p class="p">
						<!--Descrição do produto-->
						
					</p>
			</div>
		</div>

		<div class="preço">
			<div class="melhor_oferta">
				<div class="div1_melhor">
					<!--Preço do melhor valor-->
					<p class="p1_melhor"></p>
					<img src="../images/MELHOR-OFERTA.png" alt="">
				</div>
				<!--Nome do supermercado de melhor valor-->
				<p class="p2_melhor"> </p>

			</div>

			<div class="outros">
				<!-- <div class="outros_valores"> -->
					<!-- <div class="div1">
						Valor dos outros supermercados
						<p class="p_div1">R$ 9,99</p>
					</div>

					<div class="div2">
						Logo e nome do supermercado
						<img src="../images/DIA.png" class="logo" alt="">
						<p class="p2">SUPERMERCADO DIA</p>
					</div>

					<div class="div3">
						<input type="button" value="ADICIONAR A SACOLA" class="adicionar_sacola">
					</div> -->
				<!-- </div> -->
			</div>
		</div>
	</div>

	<p id="error"></p>

	<div id="productAdd" style="display: none;">
		<p>Produto adicionado ao carrinho!</p>
	</div>
</div>
		