<head>
	<link rel="stylesheet" type="text/css" href="/styles/search.css">
    
    <title>Página inicial</title>
</head>

<div class="contentNavbar">
    <div class="slides">

        <div class="slide s1" >
            <img src="../images/1.png" alt="">
        </div>
        <div class="slide s2">
            <img src="../images/2.png" alt="">
        </div>
        <div class="slide s3">
            <img src="../images/3.png" alt="">
        </div>        
    </div> 
</div>

<!--Promoção-->
<div class="promo">
    <div class="firstSection">
        <img src="../images/promo.png" alt="">
    </div><br>


    <div class="secondSection">
        
            <img src="../images/divs1.png" id="imgDestach1" alt="" class="imgProductPromotion">
        

        
            <img src="../images/divs2.png" id="imgDestach2" alt="" class="imgProductPromotion">
        

        
            <img src="../images/divs3.png" id="imgDestach3" alt="" class="imgProductPromotion">
        

        
            <img src="../images/divs4.png" id="imgDestach4" alt="" class="imgProductPromotion">

    </div>

</div>


<div id="paginate">
<div class="container">
    <div class="div1">
        
        <p class="p1">Exibindo produtos em destaque: </p>
    </div>


    <div class="div2">
        
    </div>
    
    <div class="list">
        <!-- <img id="img" src="" alt=""> -->
        <!-- <div class="item"> item 1</div>
        <div class="item"> item 2</div>
        <div class="item"> item 3</div> -->
    </div>

    <div class="controls">
        <div class="first">&#171;</div>
        <div class="prev"><</div>
        <div class="numbers">
            <div>1</div>
        </div>
        <div class="next">></div>
        <div class="last">&#187;</div>
    </div>
</div>

