<head>
	<link rel="stylesheet" type="text/css" href="/styles/search.css">
    
    <title>Resultados</title>
</head>



<div id="paginate">
<div class="container">
    <div class="div1">
        
        <p class="p1">Exibindo <span class="itenspage"></span> resultados para: </p>
        <p class="p2"><span class="nameSearch"></span></p>
    </div>


    <div class="div2">
        
    </div>
    
    <div class="list">
        <!-- <img id="img" src="" alt=""> -->
        <!-- <div class="item"> item 1</div>
        <div class="item"> item 2</div>
        <div class="item"> item 3</div> -->
    </div>

    <div class="controls">
        <div class="first">&#171;</div>
        <div class="prev"><</div>
        <div class="numbers">
            <div>1</div>
        </div>
        <div class="next">></div>
        <div class="last">&#187;</div>
    </div>
</div>

